<link rel="import" href="../box-modal/box-modal.html">
<link rel="import" href="../box-button/box-button.html">
<link rel="import" href="../box-store/box-store.html">
<link rel="import" href="../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../bower_components/paper-progress/paper-progress.html">


<dom-module id="box-uploader-modal">

  <template>
    <style>
      :root {
        /*
          https://elements.polymer-project.org/elements/paper-input?active=paper-input-container
         */
        --paper-input-container-input: {
          color: #fff;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 14px;
        }
        --paper-input-container-label: {
          color: #858D93;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 14px;
        }
        --paper-input-container-label-focus: {
          color: #858D93;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 14px;
          transform: translateY(-85%) scale(0.85);
        }
        --paper-input-container-label-floating: {
          font-weight: 400;
          transform: translateY(-85%) scale(0.85);
        }
        --paper-input-container-underline: {
          background: #535457;
        }
        --paper-input-container-underline-focus: {
          height: 1px;
          background: #9C9EA5;
        }
        /*
          https://elements.polymer-project.org/elements/paper-progress
         */
         --paper-progress-height: 3px;
         --paper-progress-container-color: #fff;
         --paper-progress-transition-duration: 200ms;
         --paper-progress-active-color: #5386DD;
      }
      .contents {
        display: none;
        padding: 50px 60px;
      }
      .contents.show {
        display: block;
      }
      .contents.hidden {
        display: none;
      }
      .contents h1 {
        font-size: 24px;
        font-weight: 200;
        color: #fff;
        margin: 0;
        padding: 0;
      }
      :host-context(box-uploader-modal) {
        background: #fff !important;
      }
      paper-progress {
        width: 100%;
      }

    </style>

    <!-- STORE -->
    <box-store name="box:file:items" value="{{files}}" id="modal-store"></box-store>
    <!-- /STORE -->

    <box-modal id="modal" on-cancel="handleModalClose">
      <div id="setPassword" class="contents">
        <h1>Create new archive</h1>
        <p><paper-input label="Download password"></paper-input></p>
        <p><paper-input label="Archive password"></paper-input></p>
        <box-button type="primary" icon="box-icon-upload" on-click="handleUploadPressed">Upload</box-button>
      </div>
      <div id="uploadProgress" class="contents">
        <h1>Create new archive</h1>
        <p>uploading</p>
        <paper-progress class="transiting"></paper-progress>
      </div>
      <div id="sendEmail" class="contents">
        <h1>Create new archive</h1>
        <div>
          <p>Download URL</p>
        </div>
        koreha oisii
        <box-button type="primary" on-click="handleOkPressed">OK</box-button>
      </div>
    </box-modal>

  </template>

  <script>
    (() => {
      const electron = require('electron');
      const {BoxArchiver} = electron.remote.require('../libs/box-archiver');

      Polymer({
        is: 'box-uploader-modal',
        properties: {
          files: {
            type: Array,
            value: function() {
              return [];
            },
          }
        },
        attached() {
          Polymer.dom(this.$.setPassword).classList.add('show');
        },
        show() {
          Polymer.dom(this.$.setPassword).classList.add('show');
          this.$.modal.show();
        },
        hide() {
          this.$.modal.hide();
        },
        compress() {
          const _this = this;
          // Archive
          const archive = new BoxArchiver();

          // Add file entry to archive
          const promises = [];

          for (let item of this.files) {
            promises.push(archive.add(item.path));
          }

          Promise.all(promises)
          // Create archive
          .then(archiveItems => {
            return archive.create();
          })
          //
          .then(() => {
            return archive.load();
          })
          // Upload archive to firebase storage
          .then(data => {
            const blob = new Blob([data], {});
            const storage = firebase.storage().ref().child(archive.filename);
            const upload = storage.put(blob, {});
            upload.on('state_changed', this.handleUploadProgress.bind(this));
            return upload;
          })
          // Save archive to firebase database
          .then(response => {
            const uuid = firebase.auth().currentUser.uid;
            return firebase.database().ref(`uploads/${uuid}`).push({
              name: archive.filename,
              files: archive.files,
              created_at: Date.now(),
            });
          })
          // Archive upload complete
          .then(response => {
            console.log("FILE UPLOAD COMPLETE");
            setTimeout(() => {
              this.showSendEmail();
            }, 500);
          }).catch(error => {
            console.log(error);
          });
        },
        showSetPasswordScreen() {
          Polymer.dom(this.$.sendEmail).classList.remove('show');
          Polymer.dom(this.$.setPassword).classList.add('show');
        },
        showUploadProgress() {
          Polymer.dom(this.$.setPassword).classList.remove('show');
          Polymer.dom(this.$.uploadProgress).classList.add('show');
        },
        showSendEmail() {
          Polymer.dom(this.$.uploadProgress).classList.remove('show');
          Polymer.dom(this.$.sendEmail).classList.add('show');
          // プログレスバーをゼロに
          this.$$('paper-progress').value = 0;
        },
        handleUploadPressed() {
          this.showUploadProgress();
          this.compress();
        },
        handleUploadCancelPressed() {

        },
        handleUploadProgress(event) {
          this.$$('paper-progress').value = event.bytesTransferred / event.totalBytes * 100;
        },
        handleOkPressed(event) {
          this.fire('complete');
          this.showSetPasswordScreen();
        },
        handleModalClose(event) {
          this.fire('close');
        }
      });
    })();
  </script>

</dom-module>
