<dom-module id="box-archive-list">

  <template>
    <style>
      :host {
        display: block;
        background: #F4F4F4;
      }
      #draggableArea {
        width: 100%;
        height: 39px;
        background: transparent;
        -webkit-user-select: none;
        -webkit-app-region: drag;
      }

      select#listContainer {
        opacity: 0;
        width: 100%;
        border: 0px;
        outline: 0px;
        background: transparent;
        overflow: visible;
        color: #767D82;
        -webkit-appearance: none;
      }

      #agemaru:checked {
        color: #f00;
      }
      select#listContainer option {
        width: 100%;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 200;
        appearance: none;
        -webkit-appearance: none;
      }
      select#listContainer option.selected {
        color: #767D82;
      }
      /*
        http://jsfiddle.net/vzDvK/1/
      */
      select#listContainer[multiple]:focus option:checked {
        color: #767D82;
        background: white linear-gradient(0deg, white 0%, white 100%);
        /*font-weight: 500;*/
        -webkit-appearance: none;
      }
      select#listContainer[multiple] option:checked {
        color: #767D82;
        background: white linear-gradient(0deg, white 0%, white 100%);
        /*font-weight: 500;*/
        -webkit-appearance: none;
      }

      #itemScrollWrapper {
        position: relative;
        width: 100%;
        height: calc(100% - 39px);/* 39px is height of #draggableArea */
        overflow-y: scroll;
      }
      #itemList {
        position: absolute;
        top: 0px;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        pointer-events:none;
      }
      #itemList li {
        margin: 0;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.25;
        color: #767D82;
      }
      #itemList li.selected {
        background: #fff;
        font-weight: 500;
      }
    </style>

    <!-- STORE -->
    <iron-localstorage name="box:archive:items" value="{{items}}" on-iron-localstorage-load-empty="initializeArchiveItems"></iron-localstorage>
    <iron-localstorage name="box:auth:user" value="{{user}}" on-iron-localstorage-load-empty="initializeDefaultUser"></iron-localstorage>
    <!-- /STORE -->

    <!-- in darwin, ドラッグ可能なヘッダエリア -->
    <div id="draggableArea"></div>

    <!-- <div>検索</div> -->

    <div id="itemScrollWrapper">
      <ul id="itemList" on-click="handleItemListClick">
        <template is="dom-repeat" items="{{items}}">
          <li id="item-{{item.key}}">{{item.name}}</li>
        </template>
      </ul>
      <select multiple id="listContainer" on-change="selectChange" tabindex="-1">
        <!-- <option class="item" value="" selected>新規アーカイブ</option> -->
        <template is="dom-repeat" items="{{items}}">
          <option class="item" value="{{item.key}}" id="{{item.key}}" data-name="{{item.name}}" on-contextmenu="openContextMenu">{{item.name}}</option>
        </template>
      </select>
    </div>
  </template>


  <script>
    (() => {
      // <li class="item" on-click="itemClicked" on-contextmenu="openContextMenu" id="{{item.key}}" data-name="{{item.name}}">{{item.name}}</li>
      const electron = require('electron');
      const Menu = electron.remote.Menu;
      const menu = Menu.buildFromTemplate([
        {
          label: 'Copy download URL',
          click: (item) => {
            console.log(contextMenuTargetItem);
          },
        }, {
          type: 'separator'
        }, {
          label: 'Delete',
          click: (item) => {
            const uuid = firebase.auth().currentUser.uid;
            for (let item of selectedItems) {
              const entryKey = item.id;
              const entryName = item.dataName;
              const databaseRef = firebase.database().ref(`uploads/${uuid}/${entryKey}`);
              const storageRef = firebase.storage().ref().child(entryName);

              console.info(`[STORAGE DELETE]: ${entryName}...`);
              storageRef.delete().then(() => {
                console.info('[STORAGE DELETE]: complete');
                console.info(`[DATABASE DELETE]: ${entryKey}...`);
                return databaseRef.remove();
              }).then(() => {
                console.info('[DATABASE DELETE]: complete');
              }).catch((error) => {
                alert(`ERROR\n${error}`);
              });
            }
          },
        },
      ]);

      let contextMenuTargetItem = null;
      // 選択済みのアイテム
      let selectedItems = [];

      Polymer({
        is: 'box-archive-list',
        properties: {
          // user: Object,
          isOpened: Boolean,
          user: {
            type: Object,
          },
          items: {
            type: Array,
            value: function() {
              return [];
            }
          },
        },
        attached() {
          const uuid = this.user.uid;
          const uploadsRef = firebase.database().ref(`uploads/${uuid}`);
          uploadsRef.on('value', snapshot => {
            this.refresh(snapshot.val());
          });
        },
        refresh(entries) {
          // Empty
          this.splice('items', 0, this.items.length);
          // Add archived items
          for (let key in entries) {
            let entry = entries[key];
            entry.key = key;
            this.unshift('items', entry);
          }
          // Add create archive item
          this.unshift('items', { name: '新規アーカイブ', key: 'newarchive' });
        },
        openContextMenu(event) {
          event.preventDefault();
          contextMenuTargetItem = event.target;
          // contextMenuTargetItem.classList.add('context');
          // setTimeout(() => {
          menu.popup(electron.remote.getCurrentWindow());
          // }, 5);
        },
        open() {
          this.isOpened = true;
        },
        close() {
          this.isOpened = false;
        },
        /**
         * アイテムを選択する
         * @param  {String} key
         */
        selectItem(key) {
          const item = Polymer.dom(this.root).querySelector(`#${key}`);
          this.$.listContainer.selectedIndex = 1;
          this.selectChange();
          // const item = Polymer.dom(this.root).querySelector(`#${key}`);
          // let index = 0;
          // for (index = 0; index < this.$.listContainer.children.length; index++) {
          //   if (item === this.$.listContainer.children[index]) {
          //     break;
          //   }
          // }
          // console.log(index);
          // this.$.listContainer.selectedIndex = index;
          // this.selectChange();
        },
        selectChange() {
          // selectedItems = Polymer.dom(this.root).querySelectorAll('option.item:checked');
          // this.fire('select-change', selectedItems);
          const listItems = Polymer.dom(this.root).querySelectorAll('ul#itemList li');
          for (let item of listItems) {
            Polymer.dom(item).classList.remove('selected');
          }

          selectedItems = Polymer.dom(this.root).querySelectorAll('option.item:checked');
          for (let item of selectedItems) {
            Polymer.dom(this.root).querySelector(`#item-${item.id}`).classList.add('selected');
          }

          this.fire('select-change', selectedItems);
        },
        getArchiveItemById(archiveId) {
          const item = this.items.filter(item => item.key === archiveId);
          if (item.length > 0) {
            return item[0];
          }
          return null;
        },
        initializeArchiveItems() {
          this.items = [];
        },
        initializeDefaultUser() {
          this.user = {
            uid: '',
            email: '',
            displayName: '',
          };
        },
      });

    })();
  </script>

</dom-module>
