<link rel="import" href="../box-file-item/box-file-item.html">
<link rel="import" href="../box-icon/box-icon-arrow-bottom.html">

<dom-module id="box-file-list">

  <template>
    <style>
      :host {
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        overflow-y: scroll;
      }
      #fileEmptyMessage {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 380px;
        height: 200px;
        margin: auto;
        padding: 45px;
        border: 2px dashed rgba(75,85,93,0.20);
        border-radius: 4px;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        color: #4B555D;
        line-height: 1.2;
        box-sizing: border-box;
      }
      #fileEmptyMessage.hidden {
        display: none;
      }
      #fileEmptyMessage .orBrowse {
        color: #2884D6;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        outline: none;
      }
      #fileEmptyMessage box-icon-arrow-bottom.icon {
        display: inline-block;
        margin-bottom: 15px;
      }
    </style>

    <!-- STORE -->
    <iron-localstorage name="box:file:items" value="{{items}}" on-iron-localstorage-load-empty="initializeFileItems"></iron-localstorage>
    <!-- /STORE -->

    <div id="fileEmptyMessage">
      <box-icon-arrow-bottom class="icon"></box-icon-arrow-bottom>
      <div>Drag and Drop files here</div>
      <a href="#" class="orBrowse" on-click="openFileBrowser" tabindex="-1">or Browse...</a>
    </div>

    <div class="file-list">
      <template is="dom-repeat" items="{{items}}">
        <box-file-item name="{{item.name}}" size="{{item.size}}" path="{{item.path}}" on-delete="handleDeleteItem" order="{{index}}"></box-file-item>
      </template>
      <content></content>
    </div>
  </template>

  <script>
    (() => {

      const electron = require('electron');
      const {dialog} = electron.remote;
      const {fileStat} = electron.remote.require('../libs/box-util');

      Polymer({
        is: 'box-file-list',
        properties: {
          items: {
            type: Array,
            value: function() {
              return [];
            }
          }
        },
        listeners: {
          'added': 'added',
        },
        ready() {
          // items を空にする
          this.splice('items', 0, this.items.length);
          console.log(this.items);
        },
        added() {
          // ドロップしてねメッセージを非表示
          this.hideEmptyMessage();
        },
        showNewArchive() {
          // clear file list
          this.splice('items', 0, this.items.length);
          // ドロップしてねメッセージを表示
          this.showEmptyMessage();
        },
        showArchiveItem(archiveItem) {
          // clear file list
          this.splice('items', 0, this.items.length);
          // add items
          for (let item of archiveItem.files) {
            this.push('items', {
              file: null,
              type: item.type,
              path: item.path,
              name: item.name,
              size: item.size,
            });
          }
          this.fire('added');
        },
        addItems(items) {
          Promise.all(items.map(filepath => fileStat(filepath))).then(statsList => {
            for (let stats of statsList) {
              // 同じ名前が既に登録されている場合は追加しない
              const hasAdded = this.items.filter(item => item.path == stats.filepath).length > 0;
              if (hasAdded) {
                continue;
              }
              this.push('items', {
                type: stats.filetype,
                path: stats.filepath,
                name: stats.filename,
                size: stats.filesize,
              });
            }
            this.fire('added');
          })
        },
        handleDeleteItem(event, data) {
          let index, item;
          for (index in this.items) {
            item = this.items[index];
            if (item.name === data.name) {
              break;
            }
          }
          this.splice('items', index, 1);

          // ドロップしてねメッセージを表示
          if (this.items.length <= 0) {
            this.showEmptyMessage();
          }
        },
        /**
         * Hide empty message
         */
        hideEmptyMessage() {
          Polymer.dom(this.$.fileEmptyMessage).classList.add('hidden');
        },
        /**
         * Show empty message
         */
        showEmptyMessage() {
          Polymer.dom(this.$.fileEmptyMessage).classList.remove('hidden');
        },
        openFileBrowser() {
          const selectedFiles = dialog.showOpenDialog({
            title: 'ファイルを選択',
            properties: ['openFile', 'openDirectory', 'multiSelections'],
          });
          this.addItems(selectedFiles);
        },
        initializeFileItems() {
          this.items = [];
        },
      });

      function getFileType(entry) {
        if (! entry) {
          return false;
        }
        if (entry.isFile) {
          return 'file';
        }
        if (entry.isDirectory) {
          return 'directory';
        }
        return false;
      }

    })();
  </script>
</dom-module>
