<link rel="import" href="../box-file-item/box-file-item.html">

<dom-module id="box-file-list">

  <template>
    <style>
      :host {
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        overflow-y: scroll;
      }
      #fileEmptyMessage {
        margin: auto;
        width: 60%;
        height: 30%;
        border: 2px dashed rgba(75,85,93,0.20);
        border-radius: 4px;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        color: #4B555D;
        line-height: 1;
      }
      #fileEmptyMessage.hidden {
        display: none;
      }
      #fileEmptyMessage .orBrowse {
        color: #4B555D;
        text-decoration: none;
        font-size: 14px;
      }
    </style>

    <!-- STORE -->
    <iron-localstorage name="box:file:items" value="{{items}}" on-iron-localstorage-load-empty="initializeFileItems"></iron-localstorage>
    <!-- /STORE -->

    <div id="fileEmptyMessage">
      <div>Drag and Drop files here</div>
      <a href="#" class="orBrowse" tabindex="-1">or Browse...</a>
    </div>
    <div class="file-list">
      <template is="dom-repeat" items="{{items}}">
        <box-file-item name="{{item.name}}" size="{{item.size}}" path="{{item.path}}" on-delete="handleDeleteItem" order="{{index}}"></box-file-item>
      </template>
      <content></content>
    </div>
  </template>

  <script>
    (() => {

      Polymer({
        is: 'box-file-list',
        properties: {
          items: {
            type: Array,
            value: function() {
              return [];
            }
          }
        },
        ready() {
          // items を空にする
          this.splice('items', 0, this.items.length);
          console.log(this.items);
        },
        addItems(items) {
          console.log("AIUEO");
          // console.log(items);
        },
        showNewArchive() {
          // clear file list
          this.splice('items', 0, this.items.length);
          // ドロップしてねメッセージを表示
          this.showEmptyMessage();
        },
        showArchiveItem(archiveItem) {
          // clear file list
          this.splice('items', 0, this.items.length);
          // add items
          for (let item of archiveItem.files) {
            this.push('items', {
              file: null,
              type: item.type,
              path: item.path,
              name: item.name,
              size: item.size,
            });
          }
          // ドロップしてねメッセージを非表示
          this.hideEmptyMessage();
        },
        addItemsFromDataTransfer(dataTransfer) {
          const length = dataTransfer.items.length;
          for (let i = 0; i < length; i++) {
            const item = dataTransfer.items[i];
            const file = dataTransfer.files[i];
            const fileType = getFileType(item.webkitGetAsEntry());

            // ファイルがnullの場合は追加しない (.weblockとか謎の挙動)
            if (! file) {
              continue;
            }

            // ファイルタイプが謎の場合は追加しない
            if (! fileType) {
              continue;
            }

            // 同じ名前が既に登録されている場合は追加しない
            const hasAdded = this.items.filter(item => item.path == file.path).length > 0;
            if (hasAdded) {
              continue;
            }
            this.push('items', {
              // file: file,
              type: fileType,
              path: file.path,
              name: file.name,
              size: file.size,
            });
          }
          // ドロップしてねメッセージを非表示
          this.hideEmptyMessage();
        },
        handleDeleteItem(event, data) {
          let index, item;
          for (index in this.items) {
            item = this.items[index];
            if (item.name === data.name) {
              break;
            }
          }
          this.splice('items', index, 1);

          // ドロップしてねメッセージを表示
          if (this.items.length <= 0) {
            this.showEmptyMessage();
          }
        },
        /**
         * Hide empty message
         */
        hideEmptyMessage() {
          Polymer.dom(this.$.fileEmptyMessage).classList.add('hidden');
        },
        /**
         * Show empty message
         */
        showEmptyMessage() {
          Polymer.dom(this.$.fileEmptyMessage).classList.remove('hidden');
        },
        initializeFileItems() {
          this.items = [];
        },
      });

      function getFileType(entry) {
        if (! entry) {
          return false;
        }
        if (entry.isFile) {
          return 'file';
        }
        if (entry.isDirectory) {
          return 'directory';
        }
        return false;
      }

    })();
  </script>
</dom-module>
