<link rel="import" href="../box-icon/box-icon-trash.html">

<dom-module id="box-file-item">

  <template>
    <style>
      :host {
        display: block;
      }
      .file-item {
        display: flex;
        padding: 15px 15px;
        font-weight: 500;
        font-size: 12px;
        justify-content: space-between;
        border-bottom: 1px solid #F4F4F4;
      }
      .file-item img {
        object-fit: contain;
        width: 55px;
        height: 55px;
      }
      .file-item .properties {
        width: 100%;
        height: 55px;
        padding: 0px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .file-item .properties .filesize {
        padding-top: 2px;
        padding-bottom: 5px;
        font-size: 12px;
        font-weight: 500;
        color: #858D93;
        line-height: 1;
      }
      .file-item .properties .filename {
        padding-bottom: 6px;
        font-size: 16px;
        font-weight: 400;
        color: #4B555D;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .file-item .properties .filepath {
        font-size: 12px;
        font-weight: 200;
        color: #858D93;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .file-item .delete {
        position: relative;
        align-items: center;
        width: 32px;
        height: 55px;
        opacity: 0;
        transform: translateX(8px);
        transition: transform 500ms,
                    opacity 300ms;
      }
      :host(.active) .file-item .delete {
        opacity: 1;
        transform: translateX(0px);
      }
      :host {
        --box-icon-svg: {
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;
        }
      }
      .file-item .delete box-icon-trash {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 20px;
        height: 55px;
        display: inline-block;
        opacity: 0.3;
      }
      .file-item .delete box-icon-trash:hover {
        opacity: 0.5;
      }
      .file-item .delete box-icon-trash:active {
        opacity: 0.4;
      }
      .file-item .delete img:hover {
        opacity: 0.5;
      }
      .file-item .delete img:active {
        opacity: 0.7;
      }
    </style>
    <div class="file-item">
      <img src="{{icon}}">
      <div class="properties">
        <div class="filesize">{{size}}</div>
        <div class="filename">{{name}}</div>
        <div class="filepath">{{path}}</div>
      </div>
      <template is="dom-if" if="{{!archived}}">
        <div class="delete" on-click="handleDelete">
          <box-icon-trash></box-icon-trash>
          <!-- <img src="../../../../assets/images/icon-delete.png"> -->
        </div>
      </template>
    </div>
  </template>

  <script>
    (() => {

      const electron = require('electron');
      // const findIcon = electron.remote.require('../libs/icon-finder');
      const findIcon = electron.remote.require('../libs/icon-finder');
      const filesize = electron.remote.require('filesize');
      Polymer({
        is: 'box-file-item',
        properties: {
          icon: String,
          name: String,
          size: String,
          path: String,
          archived: {
            type: Boolean,
            value: false,
          }
        },
        listeners: {
          mouseenter: '_handleMouseEnter',
          mouseleave: '_handleMouseLeave',
        },
        attached() {
          this.icon = `../assets/images/icons/${findIcon(this.name)}`;
          this.size = filesize(this.size);
        },
        _handleMouseEnter() {
          Polymer.dom(this).classList.add('active');
        },
        _handleMouseLeave() {
          Polymer.dom(this).classList.remove('active');
        },
        handleDelete() {
          this.fire('delete', { name: this.name });
        },
      });

    })();
  </script>
</dom-module>
