<dom-module id="box-file-item">

  <template>
    <style>
      :host {
        display: block;
      }
      .file-item {
        display: flex;
        padding: 15px 15px;
        font-weight: 500;
        font-size: 12px;
        justify-content: space-between;
        border-bottom: 1px solid #F4F4F4;
      }
      .file-item img {
        object-fit: contain;
        width: 55px;
        height: 55px;
      }
      .file-item .properties {
        width: 100%;
        height: 55px;
        padding-left: 10px;
        /*line-height: 55px;*/
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .file-item .properties .filesize {
        padding-top: 2px;
        padding-bottom: 6px;
        font-size: 12px;
        font-weight: 500;
        color: #858D93;
        line-height: 1;
      }
      .file-item .properties .filename {
        padding-bottom: 7px;
        font-size: 16px;
        font-weight: 400;
        color: #4B555D;
        line-height: 1;
      }
      .file-item .properties .filepath {
        font-size: 12px;
        font-weight: 200;
        color: #858D93;
        line-height: 1;
      }
      .file-item .delete {
        height: 55px;
      }
      .file-item .delete img {
        object-fit: contain;
        width: calc(55px / 2);
        height: calc(55px / 2);
        margin-top: calc((55px - (55px / 2)) / 2 - 2px);
        opacity: 0.25;
      }
      .file-item .delete img:hover {
        opacity: 0.5;
      }
      .file-item .delete img:active {
        opacity: 0.7;
      }
    </style>
    <div class="file-item">
      <img src="{{icon}}">
      <div class="properties">
        <div class="filesize">{{size}}</div>
        <div class="filename">{{name}}</div>
        <div class="filepath">{{path}}</div>
      </div>
      <div class="delete" on-click="handleDelete">
        <img src="../../../../assets/images/icon-delete.png">
      </div>
    </div>
  </template>

  <script>
    (() => {

      const electron = require('electron');
      // const findIcon = electron.remote.require('../libs/icon-finder');
      const findIcon = electron.remote.require('../libs/icon-finder');
      const filesize = electron.remote.require('filesize');
      Polymer({
        is: 'box-file-item',
        properties: {
          icon: String,
          name: String,
          size: String,
          path: String,
        },
        attached() {
          this.icon = `../assets/images/icons/${findIcon(this.name)}`;
          this.size = filesize(this.size);
        },
        handleDelete() {
          this.fire('delete', { name: this.name });
        },
      });

    })();
  </script>
</dom-module>
