<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="box-button">

  <template>
    <style>
      :host {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 1px;
        border-radius: 4px;
        -webkit-app-region: no-drag;
        background: -webkit-linear-gradient(top, #cbcbcb, #adadad);
      }
      :host(:active) #outline {
        background: -webkit-linear-gradient(top, #e5e5e5, #dbdbdb);
      }
      :host(:active) #highlight {
        background: -webkit-linear-gradient(top, #ededed 0%, #e4e4e4 20%, #dbdbdb 100%);
      }
      #outline {
        position: relative;
        display: block;
        border-radius: 2px;
        background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
      }
      #highlight {
        position: relative;
        display: block;
        padding: 1px;
        border-radius: 3px;
        background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
      }
      #container.first #outline,
      #container.first #highlight {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      #container.last #outline,
      #container.last #highlight {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
/*
      :host {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
        border-radius: 4px;
        border: 1px solid #c7c7c7;
        -webkit-app-region: no-drag;
      }
      :host(:active) {
        background: -webkit-linear-gradient(top, #e5e5e5, #dbdbdb);
      }*/
/*
      :host {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-app-region: no-drag;

        border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        border-image-slice: 1;
      }*/

    </style>
    <div id="container">
      <div id="highlight">
        <div id="outline">
          <content></content>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'box-button',
      listeners: {
        mousedown: 'handleMouseDown',
        mouseup: 'handleMouseUp',
      },
      handleMouseDown: function(event) {
        this.classList.add('active');
      },
      handleMouseUp: function(event) {
        this.classList.remove('active');
      },
      ready() {
        if (this.classList.contains('first')) {
          this.$.container.classList.add('first');
        }
        if (this.classList.contains('last')) {
          this.$.container.classList.add('last');
        }
      },
    });
  </script>
</dom-module>
