<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="./drop-area.html">
<link rel="import" href="./uploader-view2.html">
<link rel="import" href="./uploader-view3.html">

<dom-module id="uploader-app">

  <template>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

      <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
        <drop-area name="view1"></drop-area>
        <uploader-view2 name="view2"></uploader-view2>
        <uploader-view3 name="view3"></uploader-view3>
      </iron-pages>

  </template>

  </template>

  <script>

    Polymer({
      is: 'uploader-app',
      properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
      },
      observers: [
        '_routePageChanged(routeData.page)'
      ],
      _routePageChanged: function(page) {
        this.page = page || 'view1';
      },
      _pageChanged: function(page) {
        // load page import on demand.
        this.importHref(this.resolveUrl('uploader-' + page + '.html'), null, null, true);
      }
    });

  </script>

</dom-module>
