<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="uploader-view1">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .upload-area {
          width: 100%;
          height: 300px;
          border: 3px solid #ccc;
      }
    </style>

      <a name="view1" href="/view1">View One</a>
      <a name="view2" href="/view2">View Two</a>
      <a name="view3" href="/view3">View Three</a>

    <div class="upload-area">
        
    </div>

  </template>

  <script>

    Polymer({
      is: 'uploader-view1',
      listeners: {
        dragenter: 'handleDragEnter',
        dragover: 'handleDragOver',
        dragleave: 'handleDragLeave',
        drop: 'handleDrop',
      },
      handleDragEnter(event) {
          event.preventDefault();
          console.log("DRAG OVER");
      },
      handleDragOver(event) {
          event.preventDefault();
          console.log("DRAG OVER");
      },
      handleDragLeave(event) {
          event.preventDefault();
          console.log("DRAG LELAVE");
      },
      handleDrop(event) {
          event.preventDefault();
          console.log("DRAG DROP");
      },
    });

  </script>

</dom-module>
