<dom-module id="box-drop-area">

  <template>

    <style>
        #box-drop-area-area {
            width: 100%;
            height: 100%;
            background: #f3f3f3;
        }
        strong {
            font-weight: 500;
        }
    </style>
    <div id="box-drop-area-area">
        Drop <strong>folder</strong> or <strong>files</strong> here
    </div>
  </template>

  <script>

    Polymer({
      is: 'box-drop-area',
      listeners: {
        dragenter: 'handleDragEnter',
        dragover: 'handleDragOver',
        dragleave: 'handleDragLeave',
        drop: 'handleDrop',
      },
      handleDragEnter(event) {
          event.preventDefault();
          console.log("DRAG OVER");
      },
      handleDragOver(event) {
          event.preventDefault();
          console.log("DRAG OVER");
      },
      handleDragLeave(event) {
          event.preventDefault();
          console.log("DRAG LELAVE");
      },
      handleDrop(event) {
        event.preventDefault();
        let index = 0;
        for (let item of event.dataTransfer.items) {
            let entry = item.webkitGetAsEntry();
            console.log(item, event.dataTransfer.files[index]);
            if (entry.isFile) {
                console.log("file");
            } else if (entry.isDirectory) {
                console.log('directory');
            } else {
                console.log("AIUEO");
            }
            index++;
          }
        //   console.log(event.dataTransfer.items);
          this.fire('filedrop', event.dataTransfer.files);
      },
    });

  </script>

</dom-module>
