<dom-module id="uploader-view2">

  <template>
      <a name="view1" href="/view1">View One</a>
      <a name="view2" href="/view2">View Two</a>
      <a name="view3" href="/view3">View Three</a>

    <div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.
      <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
    </div>

  </template>

  <script>

    Polymer({
      is: 'uploader-view2'
    });

  </script>

</dom-module>
